body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #242424;
  color: #fff;
}

.full-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

